<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('template/head') %>
</head>
<body>
  <div class="outter__wrapper">
    <%- include('template/navbar') %>
    <%- include('template/banner') %>

    <div class="main">
      <div class="article__wrapper">
        <div class="login__block">
          <form class="login__form" method="POST" action="/signup">
            <div class="login__title">Sign up</div>
            <% if (errorMessage && errorMessage.length > 0) { %>
              <div class="empty-alert">
                <%= errorMessage %>
              </div>
            <% } %>
            <div class="login__type">
              <span>username</span>
            </div>
            <input type="text" name="username" class="login__username">
            <div class="login__type">
              <span>nickname</span>
            </div>
            <input type="text" name="nickname" class="login__username">            
            <div class="login__type">
              <span>password</span>
            </div>
            <input type="password" name="password" class="login__password">
            <input type="submit" class="login__submit">
          </form>
        </div>
      </div>
    </div>
    <%- include('template/footer') %>
  </div>
</body>
</html>